.header {
	border: 1px solid #dbdcdc;
	border-top: 0;
	display: flex;
	padding: 0.5rem;
	align-items: center;
}

.headerTitle {
	flex: 1;
	margin: 0.5rem 0;
	font-weight: 900;
	font-size: 1.4rem;
}

.loginBtn {
	background: #3b5998;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 500px;
	transition: 200ms;
	cursor: pointer;
}

.loginBtn:hover {
	opacity: 0.9;
}

.loginBtn > * {
	margin-right: 0.5rem;
}
